ASPNETCORE_URLS=http://0.0.0.0:8090
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=design_docs
POSTGRES_USER=design_user
POSTGRES_PASSWORD=design_pass
DB_CONNECTION=Host=${POSTGRES_HOST};Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}

GITLAB_BASE_URL=https://gitlab.company.local
GITLAB_PROJECT_HTTP_URL=https://gitlab.company.local/group/design-docs.git
GITLAB_PROJECT_ID=12345
GITLAB_PERSONAL_TOKEN=xxxxx
GITLAB_WEBHOOK_SECRET=xxxxxx
GIT_LOCAL_CACHE=/data/git-cache/design-docs
GIT_DEFAULT_BRANCH=main
GIT_AUTHOR_NAME="DesignDocs Bot"
GIT_AUTHOR_EMAIL=designdocs-bot@company.local
GIT_SSL_VERIFY=false

FEATURE_ENABLE_MERGE_REQUESTS=false
FEATURE_NOTIFY_SLACK=false
